body {
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
}

header {
    display: flex;
    justify-content: space-between;
}

button {
    background: rgba(162, 3, 247, 0.5);
    color: white;
    padding: 10px;
    border-radius: 15px;
    border: none;
}
button:hover{
    background: rgba(247, 3, 137, 0.5);
}

.logo img {
    width: 100px;
    border-radius: 50%;
}

.navegador {
    list-style: none;
    padding: 0;
    background: rgba(162, 3, 247, 0.5);
    width: 70%;
    max-width: 490px;
    margin: auto;
    position: fixed;
    top: 0; 
    left: 50%; 
    transform: translateX(-50%); 
    border-radius: 20px;
}
.navegador2 {
    list-style: none;
    padding: 0;
    background: rgba(162, 3, 247, 0.5);
    width: 70%;
    max-width: 142.3px;
    margin: auto;
    position: fixed;
    top: 0; 
    left: 50%; 
    transform: translateX(-50%); 
    border-radius: 20px;
}
.navegador2 li a{
    text-decoration: none;  
    color: white;
    padding: 20px;
    display: block;
}

.navegador2 li {
    display: inline-block;
    text-align: center;

}

.navegador2 li a:hover{
    background: rgba(247, 3, 137, 0.5);
    border-radius: 20px;
}

.navegador li a{
    text-decoration: none;  
    color: white;
    padding: 20px;
    display: block;
}

.navegador li {
    display: inline-block;
    text-align: center;

}

.navegador li a:hover{
    background: rgba(247, 3, 137, 0.5);
    border-radius: 20px;
}

.info_principal {
    border: 1px white solid;
    border-radius: 25px;
    color: white;
    box-shadow: 0px 0px 10px 10px rgba(162, 3, 247, 0.5);
}

.info_principal h1 {
    display: flex;
    justify-content: center;
}

.info_principal h2 {
    display: flex;
    justify-content: center;
}

.info_principal p {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.info_imagen {
    display: flex;
   
}
.info_imagen img {
    width: 60%;
    height: 400px;
    display: flex;
    border-radius: 20px;
   
    
}

.info_imagen .articulo {
    border: 1px solid white;
   width: 70%;
   height: 360px;
   display: flex;
   margin-left: 50px;
   padding: 20px;
   font-size: x-large;
   color: white;
   border-radius: 25px;
   box-shadow: 0px 0px 10px 10px rgba(162, 3, 247, 0.5);
}
.futbol {
    display: flex;
}

.futbol iframe {
    display: flex;
    justify-content: center;
    margin: auto;
    box-shadow: 0px 0px 10px 10px rgba(162, 3, 247, 0.5);
    border-radius: 20px;
}
.videos {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.videos iframe {
     border-radius: 20px ;
     box-shadow: 0px 0px 10px 10px rgba(162, 3, 247, 0.5);
}

.contenedor_video{
    display: flex;
    justify-content: space-between;
}

.info_video {
    border: 1px white solid;
    border-radius: 25px;
    color: white;
    box-shadow: 0px 0px 10px 10px rgba(162, 3, 247, 0.5);
    margin-top: 30px;
    margin-left: 25px;
    padding: 20px;

}

.info_video2 {
    border: 1px white solid;
    border-radius: 25px;
    color: white;
    box-shadow: 0px 0px 10px 10px rgba(162, 3, 247, 0.5);
    margin-top: 30px;
    margin-right: 20px;
    padding: 20px;
}

.info_video3 {
    border: 1px white solid;
    border-radius: 25px;
    color: white;
    box-shadow: 0px 0px 10px 10px rgba(162, 3, 247, 0.5);
    margin-top: 30px;
    margin-right: 100px;
    padding: 20px;
}
.plataformas{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
.plataformas img{
    
    border: 1px solid white;
    width: 560px;
    border-radius: 25px;
    box-shadow: 0px 0px 10px 10px rgba(162, 3, 247, 0.5);
}

.coder {
    background-color: rgb(5, 240, 5);
    border-radius: 25px;
    color: black;
    box-shadow: 0px 0px 10px 10px rgb(2, 133, 39);
    margin-top: 30px;
    margin-left: 200px;
    padding: 20px;
}
.coder:hover {
background: rgb(0, 246, 197);
}

.platzi {
    background-color: rgb(243, 85, 64);
    border-radius: 25px;
    color: black;
    box-shadow: 0px 0px 10px 10px  rgb(243, 85, 64);
    margin-top: 30px;
    padding: 20px;
}
.platzi:hover{
    background: rgb(255, 196, 0);
}
.udemy {
    background-color: rgb(124, 4, 244);
    border-radius: 25px;
    color: white;
    box-shadow: 0px 0px 10px 10px rgb(124, 4, 244);
    margin-top: 30px;
    margin-right: 220px;
    padding: 20px;
}
.udemy:hover {
    background: rgb(188, 2, 255);
}
.titulo {
    border: 1px solid white;
    color: white;
    border-radius: 25px;
    padding: 100px;
    display: flex;
    justify-content: center;
}
.html h2 {
    box-shadow: 0px 0px 10px 10px rgb(236, 111, 9);
}
.css h2 {
    box-shadow: 0px 0px 10px 10px rgb(0, 72, 255);
}
.javascript h2{
    box-shadow: 0px 0px 10px 10px rgb(255, 255, 0);
}
p {
    color: white;   
}
.main {
    display: flex;
    justify-content: center;
}
.descripcion {
    width: 30%;
    padding: 50px;
    margin-right: 50px;
}
.foto img {
    width: 300px;
    height: 300px;
    border-radius: 1000px;
    
}
.contenedor{
    display: flex;
    justify-content: center;
}
i{
    text-align: center;
    margin-left: 20px;
    margin-top: 50px;
    font-size: 50px;
    padding: 15px;
    color: rgb(192, 1, 255);
    border-radius: 50%;
    box-shadow: 0px 0px 10px 10px rgba(162, 3, 247, 0.5);
}
footer {
    color: white;
    margin-top: 50px;
}