footer {
    background-color: $fondo;
    padding: 20px;
    text-align: center;
    border-top: 1px solid #333;
    color: #E0E0E0;
  
    .info_principal {
        @include info-container-style(#1f1f1f, #E0E0E0);
    }
  
    .videos, .futbol {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
  
      iframe {
        width: 100%;
        max-width: 560px;
        height: 315px;
        margin-bottom: 20px;
      }
    }
  }
  
  .contenedor_video {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  
    button {
      @include button-style(#BB86FC, #1f1f1f, #3700B3, 20px);
      margin: 10px 0;
      flex: 1;
      min-width: 150px;
    }
  }